nav {
    background-color: #34495e;
    padding: 10px 0;
    display: inline;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 18px;
    color: aliceblue;
  }
  
  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  li {
    font-size: 18px;
  }
  
  nav a {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  li a:hover {
    background-color: #2980b9;
  }
  